.dating-container {
  display: flex;
  flex-direction: row;
  /* background-color: rgba(243, 246, 249, 1); */
  /* background-color: blue; */
  font-family: 'Lato', sans-serif;
  height: 697.5px;
  width: 100%;
}

/**************************************/
/*///////// MASTER-CONTAINER /////////*/
/**************************************/
.master-container {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(245, 247, 250);
  height: 700px;
  width: 70%;
}

.user-card {
  position: relative;
  background-color: white;
  /* background-image: url("https://vignette.wikia.nocookie.net/fairytail/images/2/21/Lucy_mugshot.jpg/revision/latest/"); */
  /* background-image: url("https://vignette.wikia.nocookie.net/naruto/images/b/ba/Sakurap2.png/revision/latest?cb=20170726101516"); */
  background-position: center;
  background-size: cover;
  border-radius: 6px;
  box-shadow: 0 2px 10px 0 rgba(155,155,155,0.77);
  margin: 24px 0;
  height: 475px;
  width: 350px;
}

.user-card:hover, .game-icon-small, .game-icon-large {
  cursor: pointer;
}

.card-info {
  position: absolute;
  bottom: 0px;
  background-color: rgba(97, 97, 97, 0.3);
  border-radius: 0 0 6px 6px;
  padding-left: 12px;
  height: 100px;
  width: 338px;
}

.info-header {
  display: flex;
  align-items: center;
  margin-top: 18px;
}

.username {
  color: rgba(255, 255, 255, 1);
  font-size: 32px;
  font-weight: 800;
  padding-right: 8px;
}

.user-age {
  color: rgba(255, 255, 255, 1);
  font-size: 26px;
}

.personality {
  color: rgba(255, 255, 255, 1);
  font-size: 18px;
}

.gamepad {
  display: flex;
  /* overflow: hidden; */
  margin: 0px auto;
  height: 100px;
  width: 350px;
}

.game-icon-outer-small {
  display: inline-flex;
  justify-content: center;
  padding: 2% 0 0 1%;
  height: 100px;
  width: 25%;
}

.game-icon-small {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-radius: 50%;
  box-shadow: 0 4px 9px 0 rgba(213,218,224,.3);
  height: 60px;
  width: 60px;
  transition: 0.3s;
}

.game-icon-small > img {
  height: 50%;
  width: 50%;
}

.game-icon-outer-large {
  display: inline-flex;
  justify-content: center;
  height: 100px;
  width: 25%;
}

.game-icon-large {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  box-shadow: 0 4px 9px 0 rgba(213,218,224,.3);
  border-radius: 50%;
  margin: 0 auto;
  height: 72px;
  width: 72px;
  transition: 0.3s;
}

.game-icon-large > img {
  height: 45%;
  width: 45%;
}

.game-icon-small:hover, .game-icon-large:hover {
  transform: scale(1.1);
}

.toolbar {
  display: flex;
  justify-content: center;
  color: rgba(191, 196, 205);
  font-size: 12px;
  font-weight: 800;
  margin: 0 auto;
  height: 50px;
  width: 600px;
}

.toolbar-icons {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 12px;
  height: 50px;
  /* width: 150px; */
}

.toolbar-icons > img {
  height: 24px;
  width: 24px;
  margin-right: 4px;
}

#space-key {
  width: 48px;
}

/**************************************/
/*///////// DETAIL-CONTAINER /////////*/
/**************************************/
.detail-container {
  display: inline-block;
  overflow: auto;
  /* background-color: rgba(153,102,153, 0.8); */
  border-right: rgb(229, 233, 236) solid 1px;
  height: 100%;
  width: 30%;
}

.list-header {
  display: flex;
  /* position: fixed; */
  background-color: white;
  color: #424242;
  font-size: 15px;
  font-weight: 800;
  padding: 12px 24px;
  height: 26px;
  width: 85.1%;
}

.list-header-text {
  margin-right: 32px;
}

/* Only selected div gets highlighted */
.list-header-text > span {
  /* border-bottom: rgba(255, 0, 0, 0.8) solid 3px; */
  cursor: pointer;
}

.detail-list {
  display: flex;
  align-content: flex-start;
  flex-wrap: wrap;
  justify-content: space-between;
/* background-color: rgba(173,112,233, 1); */
  margin: 16px 16px 0 16px;
  height: 90.6%;
}

.detail-list-empty {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  color: rgba(0, 0, 0, 0.5);
  font-size: 18px;
  margin: 16px 16px 0 16px;
  height: 90.6%;
}

.empty-img {
  height: 100px;
  width: 150px;
  background-image: url("../images/no-matches.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  border-bottom: rgba(0, 0, 0, 0.5) solid 2px;
  margin: 0 auto;
}

.empty-title {
  font-weight: 700;
  font-size: 24px;
}

.detail-list-empty > p {
  margin: 0 auto;
}

.match-card {
  position: relative;
  background-color: white;
  background-image: url("https://vignette.wikia.nocookie.net/fairytail/images/1/1a/X791_Natsu_profile.png/revision/latest/");
  background-position: center;
  background-size: cover;
  border-radius: 6px;
  cursor: pointer;
  margin-bottom: 16px;
  height: 120px;
  width: 90px;
  transition: 0.3s;
}

.match-card:hover {
  transform: scale(1.075);
}

.match-info {
  position: absolute;
  background-color: rgba(174, 174, 174, 1);
  bottom: 0px;
  border-radius: 0 0 6px 6px;
  /* border-top: black solid 1px; */
  color: rgba(255, 255, 255, 1);
  font-size: 12px;
  font-weight: 800;
  padding-left: 4px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  height: auto;
  width: 95%;
}

.detail-list-messages {
  display: flex;
  flex-direction: column;
  /* flex-wrap: wrap; */
/* background-color: rgba(173,112,233, 1); */
  margin-right: 5px;
  height: 90.6%;
}

.message-card {
  display: flex;
  flex-direction: row;
  height: 100px;
  width: 100%;
  cursor: pointer;
  transition: 0.175s;
}

.message-card:hover {
  box-shadow:0 1px 5px 0 hsla(0,0%,42.7%,.56);
  border-right: rgba(255, 0, 0, 0.8) solid 5px;
}

.outer-user-avatar {
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-color: purple; */
  height: 100px;
  width: 40%;
}

.user-avatar {
  /* background-image: url("https://vignette.wikia.nocookie.net/bleach/images/c/c4/Ep40ByakuyaKuchiki.png/revision/latest/?cb=20140813230719&path-prefix=en"); */
  background-position: center;
  background-size: cover;
  height: 70px;
  width: 70px;
  border-radius: 50%;
}

.message-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: 12px;
  overflow: hidden;
  white-space: nowrap;
  width: 60%;
}

.info-username {
  color: #424242;
  font-size: 16px;
  font-weight: 600;
}

.info-last-message {
  color: #7C7C7C;
  font-size: 14px;
  margin-top: 0px;
  text-overflow: ellipsis;
}

/**************************************/
/*////// CONVERSATION-CONTAINER //////*/
/**************************************/
.conversation-container {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  background-color: rgb(245, 247, 250);
  height: 700px;
  width: 70%;
}

.conversation {
  background-color: white;
  height: 100%;
  width: 60%;
}

.chat-nav-bar {
  display: flex;
  position: relative;
  align-items: center;
  /* background-color: red; */
  border-bottom: #E8E8E8 solid 1px;
  color: #9B9B9B;
  height: 99px;
  width: 100%;
}

.chat-nav-avatar {
  /* background-image: url("https://vignette.wikia.nocookie.net/bleach/images/f/f0/Ep37NanaoProfile.png/revision/latest/?cb=20190118043144&path-prefix=en"); */
  background-position: center;
  background-size: cover;
  border-radius: 50%;
  border: 3px solid white;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,.27);
  margin: 0 20px;
  height: 44px;
  width: 44px;
}

.chat-nav-bar > img {
  position: absolute;
  right: 20px;
  cursor: pointer;
  height: 30px;
  width: 30px;
  transition: 0.3s;
}

.chat-nav-bar > img:hover {
  -webkit-transform:rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
}

.chat-box {
  height: 527px;
  width: 100%;
}

.message-bar {
  display: flex;
  flex-direction: row;
  border-top: #E8E8E8 solid 1px;
  border-right: #E8E8E8 solid 1px;
  height: 72px;
  width: calc(100% - 1px);
}

.unmatch {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(245, 247, 250);
  border-right: #E8E8E8 solid 1px;
  color: #9B9B9B;
  cursor: pointer;
  font-size: 14px;
  font-weight: 600;
  width: 25%;
}

.unmatch:hover {
  background-image: linear-gradient(to right, rgb(234, 71, 121) , rgb(238, 121, 97));
  color: white;
}

.message-bar > input {
  border: none;
  font-size: 14px;
  padding-left: 8px;
  width: 50%;
}

.message-bar > input:focus {
  outline: none;
}

.submit-message {
  align-self: center;
  background-image: linear-gradient(to right, rgb(234, 71, 121) , rgb(238, 121, 97));
  border-radius: 45px;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,.27);
  color: white;
  cursor: pointer;
  font-size: 14px;
  font-weight: 600;
  line-height: 40px;
  margin: 0 auto;
  text-align: center;
  height: 40px;
  width: 90px;
  transition: 0.3s;
}

.submit-message:active {
  transform: scale(0.9);
}

/**************PROFILE***************/
.profile {
  background-color: white;
  height: 100%;
  width: 40%;
}

.profile-avatar {
  background-image: url("https://vignette.wikia.nocookie.net/fairytail/images/b/b6/Erza_in_OVA_8.png/revision/latest/");
  background-position: center;
  background-size: cover;
  height: 400px;
  width: 100%;
}

.profile-header-tab {
  padding: 10px 16px;
  border-bottom: #E8E8E8 solid 1px;
}

.profile-header {
  margin-bottom: 8px;
}

.profile-header > span:first-child {
  color: rgb(66, 66, 66);
  padding-right: 8px;
  font-size: 28px;
  font-weight: 600;
}

.profile-header > span:nth-child(2) {
  color: rgb(66, 66, 66);
  font-size: 22px;
}

.profile-sub-header {
  color: #9B9B9B;
  font-weight: 400;
}

.sub-row {
  display: flex;
  margin: 2px 0;
}

.sub-row > img {
  margin-right: 4px;
  height: 20px;
  width: auto;
}

.profile-character-tab {
  padding: 10px 16px;
}

#character-header {
  color: #424242;
  font-size: 18px;
  font-weight: 600;
  margin: 0 0 8px 0;
}

.character-row {
  display: flex;
  align-items: center;
  color: #9B9B9B;
  font-weight: 400;
  margin: 2px 0;
}

.character-row > img {
  margin-right: 4px;
  height: 12px;
  width: auto;
}

#alias-icon {
  height: 8px;
}

#show-icon {
  height: 18px;
}
