.master-container {
  background-color: red;
  height: 500px;
}

.user-card {
  background-color: white;
  background-position: center;
  background-size: cover;
  min-height: 350px;
  min-width: 100px;
}
