#logo {
  display: inline-block;
  /* margin-left: 65px; */
  margin-left: 20px;
}

#site-logo {
  height: auto;
  width: 100px;
  transition: 0.3s;
}

#site-logo:hover {
  transform: scale(1.1);
}

.header-log-in {
  display: inline-block;
  position: absolute;
  right: 0px;
  /* float: right; */
  margin-right: 65px;
}

.header-log-in > span {
  font-family: 'Lato', sans-serif;
  font-size: 14px;
  margin-right: 17px;
}

#btn-log-in {
  display: inline-block;
  border-color: black;
  border-radius: 4px;
  border-style: solid;
  border-width: thin;
  font-family: 'Lato', sans-serif;
  font-size: 13px;
  font-weight: bold;
  padding: 8px 14px;
  transition: 0.3s;
}

#btn-log-in:hover {
  transform: scale(1.1);
}

#btn-log-in:active {
  border-color: rgba(0, 0, 0, 0.5);
  color: rgba(0, 0, 0, 0.5);
}

a:visited {
  text-decoration: none;
  color: black;
}
