.LogIn {
  font-family: 'Lato', sans-serif;
  background-color: #59C1F7;
  height: 700px;
}

.outer-form {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
}

.login-header-title {
  font-size: 19px;
  text-align: center;
  margin-bottom: 8px;
  padding-right: 14px;
}

.login-img {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 36px;
  padding-right: 14px;
}

#login-img {
  height: 76px;
  width: auto;
}

.login-inputs {
  display: block;
  border-style: none;
  border-radius: 6px;
  font-family: 'Lato', sans-serif;
  font-size: 15px;
  margin: 8px 0 16px 0;
  padding: 0 14px;
  width: 272px;
  height: 46px;
}

label {
  font-weight: 300;
}

.login-forgot {
  color: #0000e0;
  font-size: 15px;
  font-weight: 300;
  padding-top: 16px;
  padding-right: 14px;
  text-align: center;
}

.login-submit {
  display: block;
  /* background-color: #8BE0C5; */
  background-color: #E5B8C1;
  border-style: none;
  border-radius: 6px;
  font-family: 'Lato', sans-serif;
  font-size: 15px;
  font-weight: 700;
  margin-top: 96px;
  outline: none;
  width: 300px;
  height: 54px;
  transition: 0.3s;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.login-submit:hover {
  transform: scale(1.1);
}

input.login-submit:active {
  background-color: rgb(229, 161, 175);
}
