body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#header {
  height: 10vh;
  width: 100vw;
  background-color: rgba(112, 120, 134, 1);
}

div#container {
  height: 80vh;
  width: 100vw;
  background-color: rgba(138, 145, 160, 1)
}

#footer {
  height: 10vh;
  width: 100vw;
  background-color: rgba(42, 49, 61, 1);
}
